/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
        font-family: 'Arial', sans-serif;
        line-height: 1.6;
        padding: 20px;
        background: linear-gradient(to right, #ff7eab, #80d0c7, #a8c0e0); /* Multicolored gradient */
        list-style-type: none;
        text-align: center;
        }
       
header {
        text-align: center;
        margin-bottom: 20px;
            Margin-top: 20px
            background: white; 
        }
main {
    display: block;
    list-style-type: none;
}
        .profile-img {
        width: 150px;
        height: auto;
        border-radius: 30%;
        border:solid 2px;
        border-color:#5f047a;
                    }
        h1 {
            margin-top: 10px;
            }
            .bio  {
            margin-bottom: 20px;
                text-align: center;
            }
.projects {
            margin-bottom: 20px;
                text-align: center;
    list-style-type: none;
}
            a {
            color: #333;
            text-decoration: none;
            }
            footer {
            text-align: center;
            margin-top: 20px;
            }
            a:hover {
                text-decoration: underline;
                }
